<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zxac.dao.StoreyMapper">
  <resultMap id="BaseResultMap" type="com.zxac.model.Storey">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="building_id" jdbcType="INTEGER" property="buildingId" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="eq_num" jdbcType="INTEGER" property="eqNum" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap id="DtoResultMap" type="com.zxac.dto.StoreyDto">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="building_id" jdbcType="INTEGER" property="buildingId" />
    <result column="building_name" jdbcType="VARCHAR" property="buildingName" />
    <result column="floor" jdbcType="VARCHAR" property="floor" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="longitude" jdbcType="VARCHAR" property="longitude" />
    <result column="latitude" jdbcType="VARCHAR" property="latitude" />
    <result column="eq_num" jdbcType="INTEGER" property="eqNum" />
    <result column="priority" jdbcType="INTEGER" property="priority" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, building_id, floor, gender, longitude, latitude, eq_num, priority, create_time, update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from storey
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from storey
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.zxac.model.Storey">
    insert into storey
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="buildingId != null">
        building_id,
      </if>
      <if test="floor != null">
        floor,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="longitude != null">
        longitude,
      </if>
      <if test="latitude != null">
        latitude,
      </if>
      <if test="eqNum != null">
        eq_num,
      </if>
      <if test="priority != null">
        priority,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="buildingId != null">
        #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="floor != null">
        #{floor,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="eqNum != null">
        #{eqNum,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zxac.model.Storey">
    update storey
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="buildingId != null">
        building_id = #{buildingId,jdbcType=INTEGER},
      </if>
      <if test="floor != null">
        floor = #{floor,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="longitude != null">
        longitude = #{longitude,jdbcType=VARCHAR},
      </if>
      <if test="latitude != null">
        latitude = #{latitude,jdbcType=VARCHAR},
      </if>
      <if test="eqNum != null">
        eq_num = #{eqNum,jdbcType=INTEGER},
      </if>
      <if test="priority != null">
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="getListByBuildingId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from storey
    <if test="buildingId != null and buildingId != 0">
      where building_id = #{buildingId,jdbcType=INTEGER}
    </if>
  </select>

  <select id="getListByDto" parameterType="com.zxac.dto.StoreyDto" resultMap="DtoResultMap">
    select s.id, s.name, s.building_id, b.name as building_name, s.floor, s.gender, s.longitude, s.latitude, s.eq_num, s.priority, s.create_time, s.update_time
    from building b, admin_building ab, storey s
    where b.id = ab.building_id and s.building_id = b.id
    <if test="adminId != null and adminId != 0">
      and ab.admin_id = #{adminId,jdbcType=INTEGER}
    </if>
    <if test="name != null and name != ''">
      and s.name like CONCAT('%', #{name}, '%')
    </if>
    <if test="buildingName != null and buildingName != ''">
      and b.name = #{buildingName}
    </if>
    <if test="floor != null and floor != ''">
      and s.floor = #{floor}
    </if>
    <if test="gender != null and gender != ''">
      and s.gender = #{gender}
    </if>
    order by update_time desc
  </select>

  <select id="selectByNameFloorGender" resultMap="BaseResultMap">
    select s.id, s.name, s.building_id, s.floor, s.gender, s.longitude, s.latitude, s.eq_num, s.priority, s.create_time, s.update_time
    from storey s, building b where s.building_id = b.id
    and s.name = #{storeyName,jdbcType=VARCHAR}
    and s.floor = #{floor,jdbcType=VARCHAR}
    and b.name = #{buildingName,jdbcType=VARCHAR}
    and b.citycode = #{citycode,jdbcType=VARCHAR}
    and s.gender = #{storeyGender,jdbcType=VARCHAR}
  </select>
</mapper>
